.card {
	background-color: rgb(255, 255, 255, 0) !important;
	border: none !important;
}

.card-image {
	position: relative;
}

@media only screen and (min-width: 860px) {
	.image-product {
		width: 80% !important;
		margin: auto 10%;
	}
}

.overlay-text {
	font-family: Helvetica Rounded LT Std;
	color: white;
	opacity: 0;
	font-size: 1em;
	filter: none;
	position: absolute;
	width: 90%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	transition: 0.4s ease;
}
@media only screen and (max-width: 768px) {
	.overlay-text {
		font-size: 0.8em;
	}
}

.card-image:hover .image-overlay {
	opacity: 1;
}
.card-image:hover .overlay-text {
	opacity: 1;
}

.image-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.4s ease;
	background: rgba(0, 0, 0, 0.7);
	filter: blur(4px);
	border-radius: 10px;
}

.card-title {
	text-transform: uppercase;
	font-family: Helvetica Rounded LT Std;
	font-style: italic;
	font-weight: bold;
	font-size: 22px !important;
	line-height: 36px;
	text-align: center;
	color: #ffffff;
	max-width: 80%;
	margin: 0 10% 5%;
}

.card-button {
	background-color: transparent;
	height: 40px;
	width: 170px;
	border: 2px #18005c solid;
	border-radius: 42px;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	color: #18005c;
}

.card-button:hover {
	transition: 0.4s ease;
	background-color: rgb(24, 0, 92, 0.1);
}
