form {
	position: relative;
	z-index: 1;
	margin-top: 1%;
	left: 50%;
	transform: translateX(-50%);
}

.form-bottom {
	position: relative;
}

.input-text-bottom {
	font-family: "Dosis", Helvetica, sans-serif;
	color: #3e2b7a !important;
}
.input-text-bottom::placeholder {
	font-family: "Dosis", Helvetica, sans-serif;
	color: #3e2b7a !important;
	opacity: 0.3;
}
// .submit-button {
// 	font-family: "Dosis", Helvetica, sans-serif;
// 	height: 40px;
// 	width: 125px;
// 	color: #fff;
// 	text-transform: uppercase;
// 	border: none;
// 	border-radius: 50px !important;
// 	margin-left: -40px !important;
// 	outline: none !important;
// }
