.modal-input {
	text-indent: 20px !important;
	width: 70%;
	height: 40px;
	background: #ffffff;
	border: 1px solid #3e2b7a;
	border-radius: 50px;
	outline: none;
}
.modal-submit {
	height: 40px;
	width: 20%;
	margin-left: 5%;
	border: 1px solid #3e2b7a;
	border-radius: 50px !important;
	outline: none !important;
	color: #fff;
	background: #3e2b7a;
}
.modal-header {
	border: none;
}
