.section-top {
	height: 100%;
	background-color: #e7d000 !important;

	.logo {
		position: relative;
		top: 0;
		margin-top: 80px;
		width: 250px;
		height: 188px;
	}

	.section-title {
		position: relative;
		margin-top: 40px;
		color: #d40074;
		text-transform: uppercase;
		font-weight: bold;
		line-height: 96px;
		font-size: 76px;
	}

	.title-description {
		position: relative;
		width: 750px;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 40px;
		color: black;
		font-size: 25px;
		line-height: auto;
	}

	form {
		position: relative;
		margin-top: 80px;
		width: 448px;
		height: 40px;
		line-height: 40px;
		background: #ffffff;

		input,
		.submit-button {
			border: none;
			outline: none;
		}

		input {
			position: absolute;
			top: 0;
			left: 0;
			width: 90%;
			height: 100%;
			text-align: left;
			text-indent: 24px !important;
			color: rgba(24, 0, 92, 0.4);
			font-size: 16px;
		}

		.submit-button {
			position: absolute;
			top: 0;
			right: 0;
			width: 70px;
			height: 100%;
			background-color: #1a2c71;
			color: #fff;
			font-size: 20px;
			text-transform: uppercase;
			font-weight: bold;
		}
	}

	.title-call {
		font-family: "Covered By Your Grace";
		position: relative;
		margin-top: 80px;
		width: 450px;
		left: 50%;
		transform: translate(-50%);
		color: #fff5f5;
		font-size: 35px;
	}

	.meme-joyeuse {
		position: absolute;
		bottom: 0;
		left: -258px;
		width: 850px;
		height: 850px;
	}
}

@media only screen and (max-width: 1400px) {
	.meme-joyeuse {
		position: absolute;
		bottom: 0;
		left: -15%;
	}
}
@media only screen and (max-width: 1200px) {
	.meme-joyeuse {
		bottom: -15%;
		left: -15%;
		-webkit-transform: scale(0.7);
		transform: scale(0.7);
	}
}
@media only screen and (max-width: 850px) {
	.meme-joyeuse {
		bottom: -20%;
		left: -20%;
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
}
@media only screen and (max-width: 650px) {
	.meme-joyeuse {
		bottom: -24%;
		left: -35%;
		-webkit-transform: scale(0.3);
		transform: scale(0.3);
	}
}
