.meme-joyeuse {
	position: absolute;
	bottom: 0;
	left: -5%;
}
@media only screen and (max-width: 1400px) {
	.meme-joyeuse {
		position: absolute;
		bottom: 0;
		left: -15%;
	}
}
@media only screen and (max-width: 1200px) {
	.meme-joyeuse {
		bottom: -15%;
		left: -15%;
		-webkit-transform: scale(0.7);
		transform: scale(0.7);
	}
}
@media only screen and (max-width: 850px) {
	.meme-joyeuse {
		bottom: -20%;
		left: -20%;
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
}
@media only screen and (max-width: 650px) {
	.meme-joyeuse {
		bottom: -24%;
		left: -35%;
		-webkit-transform: scale(0.3);
		transform: scale(0.3);
	}
}
