.section-top {
	height: 100%;
	background-color: #e7d000 !important;

	.logo {
		position: relative;
		top: 0;
		margin-top: 80px;
		width: 250px;
		height: 188px;
	}

	.section-title {
		position: relative;
		margin-top: 40px;
		color: #d40074;
		text-transform: uppercase;
		font-weight: bold;
		line-height: 96px;
		font-size: 76px;
	}

	.title-description {
		position: relative;
		width: 750px;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 40px;
		color: black;
		font-size: 25px;
		line-height: auto;
	}

	form {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 80px;
		width: 448px;
		height: 40px;
		line-height: 40px;
		background: #ffffff;

		input,
		.submit-button {
			border: none;
			outline: none;
		}

		input {
			position: absolute;
			top: 0;
			left: 0;
			width: 90%;
			height: 100%;
			text-align: left;
			text-indent: 24px;
			color: rgba(24, 0, 92, 0.4);
			font-size: 16px;
		}

		.submit-button {
			position: absolute;
			top: 0;
			right: 0;
			width: 70px;
			height: 100%;
			background-color: #1a2c71;
			color: #fff;
			font-size: 20px;
			text-transform: uppercase;
			font-weight: bold;

			&:hover {
				transition: 0.4s ease;
				background-color: #d40074;
				color: #fff;
			}
		}
	}

	.title-call {
		font-family: "Covered By Your Grace";
		position: relative;
		margin-top: 80px;
		width: 450px;
		left: 50%;
		transform: translate(-50%);
		color: #fff5f5;
		font-size: 35px;
	}

	.meme-joyeuse {
		position: absolute;
		bottom: -50px;
		left: -220px;
		width: 750px;
		height: 750px;
	}
}

@media only screen and (max-width: 1200px) {
	.meme-joyeuse {
		display: none;
		visibility: hidden;
	}
}
@media only screen and (max-width: 768px) {
	.logo {
		margin: 20px auto 10px !important;
		transform: scale(0.7);
	}
	.main-title {
		margin-top: 0 !important;
		font-size: 40px !important;
		line-height: 50px !important;
	}

	.title-description,
	.details-description {
		max-width: 80%;
		font-size: 20px !important;
		text-align: justify;
	}

	.details-description {
		margin-top: 0 !important;
	}

	form {
		margin-top: 40px !important;
		max-width: 80% !important;

		input {
			width: 80% !important;
			font-size: 14px !important;
		}

		.submit-button {
			margin: 0 !important;
		}
	}

	.title-call {
		margin-top: 40px !important;
		max-width: 80% !important;
	}

	.details-products,
	.card-title,
	.card-img,
	.image-overlay,
	.overlay-text,
	.card-button {
		margin: 0 !important;
	}
	.card-body {
		padding: 0 !important;
	}
	.product-card {
		margin-bottom: 20px !important;
		padding: 0 !important;
	}
	.overlay-text {
		width: 80% !important;
		padding: 0 !important;
	}
	.card-title {
		margin-bottom: 15px !important;
	}

	.right-side {
		height: 100% !important;
		margin-bottom: 100px !important;
	}
	.meme-text {
		position: relative !important;
		top: 60px !important;
		left: 0 !important;
		width: 80% !important;
		margin: auto !important;
		font-size: 20px !important;
		padding: 20px !important;
		line-height: 32px !important;
		text-align: center !important;
	}
	.meme-text:after {
		margin-top: -40px !important;
		margin-left: -40px !important;
	}

	.title-instagram {
		position: relative !important;
		top: 80px !important;
		left: 0 !important;
	}
	.slider {
		position: relative !important;
		width: 100% !important;
		top: 40px !important;
		left: 50% !important;
		transform: translateX(-50%);
		margin-bottom: 40px !important;
	}
	.modal-input {
		width: 100% !important;
	}
	.modal-submit {
		position: relative;
		left: 50% !important;
		transform: translateX(-50%);
		width: 50% !important;
		margin: auto !important;
		margin-top: 20px !important;
		text-align: center !important;
	}
}
