.slider {
	position: relative;
	left: 25%;
	transform: translateX(-20%);
	width: 80% !important;
}
.slick-arrow,
.slick-prev,
.slick-next {
	color: #18005c !important;
}
.img-slider {
	padding: 10px;
}
