// Fonts
@import url("https://fonts.googleapis.com/css?family=Covered+By+Your+Grace&display=swap");
@font-face {
	font-family: "MainFont";
	src: url("./assets/fonts/HelveticaRoundedLTStd-BdCnO.otf");
}
@font-face {
	font-family: "Dosis";
	@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");
}
@font-face {
	font-family: "SecondaryFont";
	src: url("./assets/fonts/HelveticaRoundedLTStd-BdCn.otf");
}
.navbar {
	height: 60px;
	background-color: #3e2b7a;
}

.App {
	height: 100%;
	width: 100vw;
	margin: 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.section {
	position: relative;
	height: 100%;
	width: 100vw;
	text-align: center;
	background-color: #e7d000 !important;
}

.section-top {
	height: 100%;
	/* height: calc(100vh - 60px); */
	color: #d40074;
}

.section-vote {
	z-index: 2;
	background-color: #d40074 !important;
	color: #e7d000;
}

.section-bottom {
	height: 100%;
	color: #d40074;
}

.title-call {
	font-family: "Covered By Your Grace";
	color: #fff;
	width: 300px;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	font-size: 24px;
}

.section-title {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	font-family: "MainFont";
	font-size: 72px;
	text-transform: uppercase;
}

.title-description {
	font-family: "Dosis";
	width: 40%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	color: black;
	font-size: 25px;
	line-height: 30px;
	text-align: center;
}

form {
	position: relative;
	z-index: 1;
	margin-top: 1%;
	left: 50%;
	transform: translateX(-50%);
}

.form-bottom {
	position: relative;
}

input {
	font-family: "Dosis", Helvetica, sans-serif;
	text-indent: 20px !important;
	width: 370px;
	height: 40px;
	background: #ffffff;
	border: none;
	border-radius: 50px;
	outline: none;
}

::placeholder,
::-webkit-input-placeholder,
::-moz-placeholder {
	color: #d40074 !important;
	opacity: 1 !important;
	font-family: "Dosis", Helvetica, sans-serif;
}

.input-text-top {
	font-family: "Dosis", Helvetica, sans-serif;
	color: #d40074 !important;
}
.input-text-top::placeholder {
	font-family: "Dosis", Helvetica, sans-serif;
	color: #d40074 !important;
	opacity: 0.3;
}
.input-text-bottom {
	font-family: "Dosis", Helvetica, sans-serif;
	color: #3e2b7a !important;
}
.input-text-bottom::placeholder {
	font-family: "Dosis", Helvetica, sans-serif;
	color: #3e2b7a !important;
	opacity: 0.3;
}
.submit-button {
	font-family: "Dosis", Helvetica, sans-serif;
	height: 40px;
	width: 125px;
	color: #fff;
	text-transform: uppercase;
	border: none;
	border-radius: 50px !important;
	margin-left: -40px !important;
	outline: none !important;
}
.top {
	background: #d40074;
}
.bottom {
	background: #3e2b7a;
}
.modal-input {
	text-indent: 20px !important;
	width: 70%;
	height: 40px;
	background: #ffffff;
	border: 1px solid #3e2b7a;
	border-radius: 50px;
	outline: none;
}
.modal-submit {
	height: 40px;
	width: 20%;
	margin-left: 5%;
	border: 1px solid #3e2b7a;
	border-radius: 50px !important;
	outline: none !important;
	color: #fff;
	background: #3e2b7a;
}
.modal-header {
	border: none;
}

.card {
	background-color: rgba(255, 255, 255, 0) !important;
	border: none !important;
}

.card-image {
	position: relative;
}

.image-product {
	width: 70% !important;
	height: auto;
	margin: auto 10%;
}

.card-image {
	&:hover {
		.image-overlay {
			opacity: 1;
		}
		.overlay-text {
			opacity: 1;
		}
	}
}

.image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.4s ease;
	background: rgba(0, 0, 0, 0.7);
	filter: blur(4px);
	border-radius: 10px;
}

.overlay-text {
	font-family: Helvetica Rounded LT Std;
	color: white;
	opacity: 0;
	font-size: 1em;
	position: absolute;
	width: 90%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: justify;
	user-select: none;
	transition: 0.4s ease;
}

@media only screen and (min-width: 1400px) {
	.image-product {
		width: 65% !important;
		height: auto;
		margin: auto 12.5%;
	}
	.image-overlay {
		width: 70% !important;
		margin: 0 15%;
	}
	.overlay-text {
		width: 60%;
	}
}

.card-title {
	text-transform: uppercase;
	font-family: Helvetica Rounded LT Std;
	height: 50px;
	font-style: italic;
	font-size: 22px;
	text-align: center;
	color: #ffffff;
	margin: 0 10% 5%;
	user-select: none;
}

.card-button {
	background-color: transparent;
	height: 40px;
	width: 30%;
	border: 2px #18005c solid;
	border-radius: 42px;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	color: #18005c;
	outline: none !important;
}

.card-button:hover {
	transition: 0.4s ease;
	background-color: #18005c;
	color: #fff;
}

.meme-pouce {
	position: absolute;
	bottom: -20%;
	left: 10%;
	transform: scale(0.8);
}

.meme-text {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	font-family: Helvetica Rounded LT Std;
	background-color: white;
	border-radius: 20px;
	padding: 35px;
	max-width: 500px;
	height: 100%;
	font-size: 25px;
	line-height: 45px;
	color: #18005c;
}

.meme-text:after {
	content: "";
	position: absolute;
	left: 0;
	top: 70%;
	width: 0;
	height: 0;
	border: 46px solid transparent;
	border-right-color: #fff;
	border-left: 0;
	border-bottom: 0;
	margin-top: -23px;
	margin-left: -46px;
}

.title-instagram {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	font-family: "Covered By Your Grace";
	width: 80%;
	font-size: 35px;
	line-height: 47px;
	text-align: center;
	color: #fff;
}

.arobas {
	color: #d40074;
}
.arobas:hover {
	cursor: pointer;
}
.slider {
	position: relative;
	left: 25%;
	transform: translateX(-20%);
	width: 80% !important;
}
.slick-arrow,
.slick-prev,
.slick-next {
	color: #18005c !important;
}
.img-slider {
	padding: 10px;
}

// Footer
footer {
	position: absolute;
	width: 100vw;
	height: 60px;
	background-color: #18005c;
	color: #fff;
	overflow: hidden;
	margin: 0;
	z-index: 10;
}
footer a,
.nav-link {
	font-family: Helvetica Rounded LT Std;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 22px;
	text-align: center;
	margin: auto 15px;
	color: #fff !important;
}
.nav-link {
	text-transform: uppercase;
}
.container-links {
	text-align: right;
	position: relative;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

@media only screen and (max-width: 768px) {
	.logo {
		transform: scale(0.7);
	}
	.main-title {
		font-size: 40px;
		padding: 0;
	}
	.title-description {
		position: relative;
		width: 85%;
		margin: 5% 0;
		font-size: 16px;
	}
	.title-call {
		font-size: 18px;
	}
	input,
	.input-text-bottom {
		width: 80vw;
		font-size: 0.85em;
		margin-bottom: 5%;
	}
	.submit-button {
		margin: 5% 0 !important;
		height: 30px;
	}
	.meme-pouce,
	.meme-joyeuse {
		visibility: hidden;
	}
	.overlay-text {
		font-size: 0.62em;
	}
	.card-title {
		width: 100%;
		height: 65px !important;
		margin: 0;
		font-size: 18px !important;
	}
	.card-button {
		width: 80%;
		margin-top: auto;
	}
	.meme-text {
		width: 75%;
		font-size: 18px;
		line-height: 25px;
		padding: 20px;
		margin: 10% 0;
	}
	.meme-text:after {
		border: 23px solid transparent;
		margin-left: -23px;
	}
}
