// Fonts
@import url("https://fonts.googleapis.com/css?family=Covered+By+Your+Grace&display=swap");
@font-face {
	font-family: "MainFont";
	src: url("./assets/fonts/HelveticaRoundedLTStd-BdCnO.otf");
}
@font-face {
	font-family: "Dosis";
	@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");
}
@font-face {
	font-family: "SecondaryFont";
	src: url("./assets/fonts/HelveticaRoundedLTStd-BdCn.otf");
}

html,
body {
	box-sizing: border-box;
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.navbar {
	height: 60px;
	background-color: #3e2b7a;
}

.section {
	position: relative;
	text-align: center;
	font-family: "Dosis";
}

// @media only screen and (max-width: 768px) {
// 	.logo {
// 		transform: scale(0.7);
// 	}
// 	.main-title {
// 		font-size: 40px;
// 		padding: 0;
// 	}
// 	.title-description {
// 		position: relative;
// 		width: 85%;
// 		margin: 5% 0;
// 		font-size: 16px;
// 	}
// 	.title-call {
// 		font-size: 18px;
// 	}
// 	input,
// 	.input-text-bottom {
// 		width: 80vw;
// 		font-size: 0.85em;
// 		margin-bottom: 5%;
// 	}
// 	.submit-button {
// 		margin: 5% 0 !important;
// 		height: 30px;
// 	}
// 	.meme-pouce,
// 	.meme-joyeuse {
// 		visibility: hidden;
// 	}
// 	.overlay-text {
// 		font-size: 0.62em;
// 	}
// 	.card-title {
// 		width: 100%;
// 		height: 65px !important;
// 		margin: 0;
// 		font-size: 18px !important;
// 	}
// 	.card-button {
// 		width: 80%;
// 		margin-top: auto;
// 	}
// 	.meme-text {
// 		width: 75%;
// 		font-size: 18px;
// 		line-height: 25px;
// 		padding: 20px;
// 		margin: 10% 0;
// 	}
// 	.meme-text:after {
// 		border: 23px solid transparent;
// 		margin-left: -23px;
// 	}
// }
